/* Background image (free use) */
body {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
}

/* Footer styling*/
#footer-container {
    background-color: #343a40;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.fa-save {
    color: whitesmoke;
}

td {
    width: 100%;
}

.event-input-div {
    padding: 0px !important;
}

.event-input {
    width: 100%;
    background: transparent;
    border: none;
    color: whitesmoke;
}